.table {
  border-radius: 8px;
  border: 2px solid #333;
  padding: 10px;
  margin: 10px auto;
  width: 80%;

  .table-row {
    text-align: center;
    cursor: pointer;

    :first-child {
      text-align: left;
    }

    &:hover {
      background-color: #F0F2F4;
    }

    .button {
      color: white;
      border: none;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
    }

    .success {
      background-color: #4ECB71;

      &:hover {
        background-color: #4EA95F;
      }
    } 

    .danger {
      background-color: #DB0E0F;

      &:hover {
        background-color: #C80B0D;
      }
    }
  }

  .empty {
    text-align: center;
    width: 100%;
  }
}